* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins , sans-serif;
}

::selection{
    background: #006241;
    color: white;
}
.header{
    background: #006241;
    padding: 10px;
    display: flex ;
    flex-direction: row;
   justify-content: space-between;
   box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.75);
position: fixed;
width: 100%;
top: 0;
left: 0;
z-index: 100;
align-items: center;

}
.header__logo{
    width: 90px;
    padding-left: 10px;
}
.header__container-navegador, 
.header__container-login{
    display: none;
}
.header_container-user-mobile{
    color: white;
    font-size: 65px;
    padding-right: 10px;
}
.main__container-login{
    display: none;
}
.main{
    margin-top: 130px;
    padding: 25px 15px 60px;
    width: 100%;
}
.main__titulo{
    font-size: 70px;
    line-height: 1.2;
}
.main__titulo span{
    color: #006241;
}
.main__description{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 25px;
}
.main__container-text{
    display: flex;
    flex-direction: column;
}
.galeria{
    background:#006241 ;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.galeria__image{
   width: 70%;
   margin-top: 70px;
}
.contactanos{
    background: black;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: space-between;

}
.contactanos__text{
    color: #006241;
    text-align: center;
    font-size: 50px;
    padding: 80px 15px;
}
.contactanos__form{
    background: #006241;
    color: white;
    padding: 15px;
    width: 400px;
    margin-bottom: 90px;
}
.contactanos__input label{
    font-size: 25px;
}
.contactanos__input{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 0 30px;
}
.contactanos__input input::placeholder, 
.contactanos__input textarea::placeholder {
font-size: 20px;
color: #006241;
font-weight: bolder;

}
.contactanos__input input,
.contactanos__input textarea {
    padding: 20px 10px;
    border-radius: 7.5px;
    border: 0;
}

.contactanos__input input:focus,
.contactanos__input textarea:focus {
    background: black;
}
.contactanos__button{
    background: inherit;
    font-size: 20px;
    margin: 50px 30px;
    padding: 5px 20px;
    border: 3px solid white;
    color: white;
    width: 45%;
    border-radius: 20px;
    transition: all 0.5s;

}
.contactanos__button:hover{
    background: yellow;
    border: 1px solid yellow;
}
.cards__container-cards{
    background: #006241;
    margin-top: 45px;
    color: white;
    position: relative;
    width: 85%;
}
.cards{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards__cards-img{
    width: 100%;

}
.cards__cards-title{
    padding-left: 15px;
}
.cards__cards-title span{
    color: yellow;
}
.cards__container-cards-text{
   padding: 15px 15px; 
}
.cards__cards-txt{
    font-size: 10px;
    margin: 20px;
}
.cards__cards-nav{
    background: inherit;
    color: white;
    font-size: 12px;
    text-decoration: none;
    border: 3px solid white;
    padding: 5px 10px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
    transition: all 0.5s;
}

.cards__cards-nav:hover{
    background: yellow;
    border: 3px solid yellow;
}
.cards__container-nav{
    display: flex;
    flex-direction: column;
}
.cards__container-nav a{
    width: 160px;
    font-size: 12px;
    margin: 0px 35px 15px;
}    
.cards__discount{
    background: yellow;
    color: black;
    font-size:40px;
    font-weight: bold;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    right: -25px;

}
.footer{
    background-color: black;
    padding: 25px 10px;
}
.footer_container-usuario{
    display: flex;
    flex-direction: column;
    margin-left: 15px;

}
.footer_user{
    color: white;
    text-decoration: none;
    font-size: 20px;

}
.footer__container-social{
    margin-top: 15px;
    margin-left: 20px;
    width: 12%;
    display: flex;
    justify-content: space-between;
}
.footer__container-social i{
    color: white;
    font-size: 20px;
    
}
.footer_container-contact{
    margin: 10px 10px;
}
.footer_contact{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-top: 10px;
}
@media  (min-width: 768px) {
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header_container-user-mobile{
        display:none;
    }
    .header__container-login{
        display: block;
    }
    .bi-person-circle{
        color: white;
        font-size: 0px;
    }
    .header__container-navegador{
        display: block;
    }
    .header__nav-link{
        color: white;
        text-decoration: none;
        font-size: 25px;
        margin-left: 15px;
    }
    .main__container-logo{
        display: block;
        display: flex;
        align-items: center;
    }
    .main__logo{
        width: 80%;
    }
    .main__container-text{
        width: 40%;

    }
    .main__titulo{
        font-size: 50px;
    }
    .main {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .galeria{
        background:#006241 ;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }
    .galeria__image{
        width: 30%;
        
     }
     .contactanos__form{
        width: 700px;
     }
     .contactanos__button{
        width: 25%;
    }
     .cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    
    }
    .cards__container-cards{
        width: 40%;
    }
    .footer{
        display: flex;
        justify-content: space-between;
    }
}
@media  (min-width: 1024px) {
    .main__logo{
        width: 450px;
}
.main{
    display: flex;
    padding: 15px 100px 60px;
}
.galeria__image{
    width: 400px;
}
.galeria{
    justify-content: space-around;
}
.contactanos__form{
    width: 1000px;
}
.contactanos__button{
    width: 20%;
}
.cards__container-nav{
    flex-direction: row;
}
.cards__container-nav a{
    margin-left:30px;
    width: 100%;
}
.cards__container-cards{
    width: 700px;
    margin: 0px 20px 15px;
}
.footer{
    height: 300px;
    align-items: center;
}
}